.appbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.list ul{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.list ul li{
    all: unset;
    
}